
    /* *google font links */
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');

        /* font family */

        /* .inter {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-variation-settings:
              "slnt" 0;
          } */



          /* !common code starts */
    *{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         font-family: "Inter", sans-serif;
    }

    body{
      background: rgb(0, 0, 0);
      color: white;
    }

    a{
        text-decoration: none;
    }

    li{
         list-style-type: none;
    }

    .container{
         width: 80%;
       margin: auto;
    }


    :root{
         --1stcolor: rgb(230, 83, 60);
         --2ndcolor:rgb(255, 255, 255);
         --3rdcolor:rgba(255, 255, 255, 0.5);
    }

    .btn{
       width: 170px;
       height: auto;
          font-size: 18px;
          font-weight: 600;
          background-color: var(--1stcolor);
          color: var(--2ndcolor);
          padding: 18px 5px;
           border: none;
           border-radius: 45px;
           text-transform: capitalize;
           cursor: pointer;
    }

    .btn.extra{
      width: 170px;
      height: auto;
        font-size: 18px;
        font-weight: 600;
 background-color: transparent;
        color: var(--2ndcolor);
        padding: 18px 5px;
        border: 1px solid var(--2ndcolor);
         border-radius: 45px;
         text-transform: capitalize;
         margin-left: 15px;
    }

    #banner .banner__img{
         width: 100%;
    }


    .heading{
       width: 60%;
padding: 30px 0;
text-align: center;
margin: auto; 
    }

    .heading h3{
font-size: 48px;
text-transform: capitalize;
margin-bottom: 10px;
    }

    .heading p{
color: var(--3rdcolor);
margin: 10px 0 50px;
    }
    /* !common code ends */

    /** nav starts  */

      header{
    
        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
        color: white;
      }

        nav {
             display: flex;
             justify-content: space-between;
             align-items: center;
             padding: 60px 0 35px 0;
    
             
        }

         nav .nav__list  ul li{
              display: inline-block;
         }

         nav .nav__logo {
             text-transform: capitalize;
               color: var(--1stcolor);
        font-style: italic;
         }

          nav ul li{
             font-size: 18px;
             font-weight: 400;
             text-transform: capitalize;
              margin-right: 45px;
            padding: 12px 24px;
     
            border-radius: 46px;
          }

          nav ul li a{
            color: var(--2ndcolor);
            background-color: transparent;
          }
          .nav__list{
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 39px;
            padding: 10px;
          }
          .nav__colour{
             font-weight: 600;
              background-color: var(--1stcolor);
          }

    /** nav ends  */

    /* *banner starts  */

      #banner{
         display: flex;
         justify-content: space-between;
         align-items: center;
         color: var(--2ndcolor);
      }

      .banner__details{
    padding: 10px 50px 0 0;
      }

      #banner .banner__cnt{
         font-size: 78px;
         font-weight: 900;
         line-height: 100px;
      }

      .banner__cnt span{
        font-family: "Playwrite CU", cursive;
        font-weight: 400;
        background-color: transparent;
      }
      .banner__details p{
         font-size: 14px;
         color: rgba(255, 255, 255, 0.5);
         font-weight: 400;
         margin: 28px 0;
      }


      .banner__img img{
         width: 100%;
      }

        .banner__img{
          position: relative;
        }
      .banner__badge{
          width: 170px;
          height: auto;
        padding: 15px ;
         background: rgba(255, 255, 255, 0.1);
          position: absolute;
          right: -3%;
          top: 28%;
          border-radius: 10px;
          text-align: left;
      }

    .banner__badge_extra{
      width: 170px;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    padding: 15px ;
      background: rgba(255, 255, 255, 0.1);
      position: absolute;
       bottom: 18%;
      left: -3%;
      border-radius: 10px;
      text-align: left;
    }

    .banner__badge_extra .red__circle{
       width: 30px;
       height: 30px;
       background-color: var(--1stcolor);
       border-radius: 50%;
    }

      .banner__badge h4{
         font-size: 40px;
      }
      .banner__badge_extra h4{
        font-size: 24px;
      }

      .banner__img p{
        color: rgba(255, 255, 255, 0.5);

      }
      .banner__badge p{
        font-size: 13px;
        
      }

      .banner__badge * , .banner__badge_extra *{
          background-color: transparent;
      }


  
    
    /* *banner ends  */


    /* *habbit section starts  */

        #habbit{}

        #habbit .habbit__cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
        }


        #habbit .habbit__card{
          text-align: center
        }

        #habbit .habbit__card img{
          text-align: left;
            border-radius: 50%;
        }


        #habbit .habbit__card h4{
          text-transform: capitalize;
          margin: 30px 0 15px;
          font-size: 18px;
        }

        #habbit .habbit__card p{
          font-size: 13px;
          color: var(--3rdcolor);
          line-height: 15px;

        }

        .habbit__card__cnt{
          width: 92%;
         
          margin: auto;
        }

    /* * habbit section ends  */


    /* *run section starts  */

         #run{}

          #run .run__details{
             display: flex;
             justify-content: space-between;
             align-items: center;
             border-radius: 18px;
              background: rgb(34, 34, 34);
              padding: 41px 50px;
             margin: 100px 0;
          }
          #run .run__details{
            text-align: left;
          }
          #run .heading{
            width: 45%;
            text-align: left;
            margin: 0;
          }
          #run .heading  p{
            margin: 0;
           
          }

          #run .run__img{}

          #run .run__img img{
            width: 350px;
          }

            #run .btn{
              width: 220px;
              padding: 15px;
              margin-top: 34px;
            }
    /* *run section ends */


    /** team section starts  */

      #team{
        margin: 50px  0;
      } 

      .team__members{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        background: rgba(255, 255, 255, 0.1);
        padding: 20px;
      }

      .team__members img{
        width: 100%;
        height: 272px;
        border-radius: 18px;
      }
      
      .trainer{
        position: relative;
      }

      .trainer__cnt{
        position: absolute;
        bottom: 20px;
        left: 20px;
      }

      .trainer__cnt h5{
         font-size: 20px;
         text-transform: capitalize;
      }

      .trainer__cnt p{
        color: var(--3rdcolor);
        text-transform: capitalize;
      }
    /* * team section ends  */

    /* !  UNIQUE SECTION STARTS */

         .service{
          margin-bottom: 70px;
         }

    .service__details{
      display: grid;
      grid-template-columns: repeat(4 , 1fr);
      gap: 20px;
    }
      .service__card{
       transition: .4s;
      }

      .service__card:hover{
        transform: scale(1.1);
      }


    .service__card img{
       width: 100%;
       height: 200px;
       display: block;
    }
      .service__card h5{
margin: 0;
      }

       .service__card .service_cnt{
        background-color: white;
        color: black;
        padding: 10px ;
          text-transform: capitalize;
          font-size: 21px;
       }
    /* !   UNIQUE SECTION ENDS  */


    /* * footer section starts  */


      footer{
        background: rgba(255, 255, 255, 0.1);
        text-transform: capitalize;
      }

        footer .container{
       display: flex;
       justify-content: space-between;
       align-items: center;
         padding: 50px 0;
        }

        .footer__logo{
          width: 33.33%;
          margin-top: -30px;
        }

        .footer__logo h1{
          font-size: 50px;
          font-style: italic;
          text-transform: capitalize;
          color: var(--1stcolor);
        }

        .footer__logo p{
          font-size: 14px;
          text-transform: capitalize;
          color: var(--3rdcolor);
          margin: 20px 0;
          line-height: 22px;
        }

        footer h4{
          font-size: 20px;
           text-transform: capitalize;
           margin-bottom: 20px;
        }

        .footer_link_1{
          width: 33.33%;
      
        }

        .footer_link_2{

          width: 33.33%;
        }

         footer ul , h4{
          width: 40%;
        
          margin: auto;
         }

           footer ul li{
            padding-bottom: 15px;
           }

            footer a{
              color: var(--3rdcolor);
            }
            footer hr{
              width: 80%;
              margin: auto;
              border: 1px solid rgba(255, 255, 255, 0.1);
            
            }
            .copyright{
              text-align: center;
              color: var(--3rdcolor);
              padding: 30px 0;
              font-size: 20px;
              letter-spacing: .5px;
            }

    /* * footer section ends  */






       /* ! RESPONSIVE SECTION (mobail) STARTS  */

         /* * 0 -576 px */

           @media (max-width:576px){

              /* *header section ends  */
            
    .heading{
      width: 80%;

   }

   .heading h3{
font-size: 23px;
text-transform: capitalize;
margin-bottom: 10px;
   }

   .heading p{

   }
              header nav  .nav__list{
                 display: none;
              }

                /* *hader section ends */

                /* *banner section starts */
              .banner__details {
                margin-bottom: 40px;
              }

               #banner{
                 display: block;
               }  
               #banner .banner__cnt{
                 font-size: 50px;
                 line-height: 70px;
                font-weight: 700;
             }

             .banner__btn{
                display: flex;
             }

             .btn{

              width: 120px;
              font-size: 14px;
              font-weight: 600;
   
               padding:15px 0;
     
       
        }
    
        .btn.extra{
          width: 120px;
          font-size: 14px;
          font-weight: 600;

           padding:15px 0;
        }


        .banner__badge{
          width: 150px;
          height: auto;
        padding: 15px 10px ;


          top: 10%;
      }

    .banner__badge h4{
      font-size: 22px;
    }

    
    .banner__badge p{
      font-size: 13px;
    }




      .banner__badge_extra{
        width: 150px;
          height: auto;
      padding: 15px 10px ;

         bottom: 45%;
        left: -3%;
      
      }
  
      /* .banner__badge_extra .red__circle{
         width: 30px;
         height: 30px;
         background-color: var(--1stcolor);
         border-radius: 50%;
      } */

      /* * banner section ends  */

      /* * habbit section starts  */

      #habbit .habbit__cards{
        grid-template-columns: repeat(1 , 1fr);
      }

      .habbit__card__cnt{
     width: 70%;
      }

      .habbit__card img{
        width: 60%;
      }


      .habbit__card {
        margin-bottom: 30px;
      }
    #habbit .habbit__card h4{
      margin: 15px 0 5px;
    }

   /* * habbit section ends  */
 
    /* * run section starts */


      #run{}

      #run .run__details{
         display: block;
          padding: 41px 20px;
         margin: 70px 0;
      }
      #run .run__details{
        text-align: left;
      }
      #run .heading{
        width: 100%;
        text-align: left;
        margin: 0;
      }
      #run .heading  p{
        margin: 0;
       line-height: 24px;
      }

      #run .run__img{}

      #run .run__img img{
        width: 100%;
        height: 250px;
      }

        #run .btn{
          width: 150px;
          padding: 10px;
          margin-top: 34px;
        }
/* *run section ends */


  /* * team section starts */

  .team__members{
    grid-template-columns: repeat(1, 1fr);
  }

   #team h3{
    margin-bottom: 20px;
   }
   #team p {
    line-height: 24px;
   }

   .team__members img{
height: 220px;
  }
  /* * team section ends  */


  /* * service section starts  */

  .service__details{

    grid-template-columns: repeat(1 , 1fr);
  
  }

  /* * service section ends  */



      /* *footer section starts  */

      footer .container{
        display: block;
          padding: 50px 0;
         }

         .footer__logo{
          width: 100%;
          margin-top: -30px;
        }

  
        .footer_link_1,  .footer_link_2{
          width: 100%
      
        }
 
         footer ul , h4{
          width: 100%;       

         }

           footer ul li{
            padding-bottom: 15px;
           }

            footer a{
              color: var(--3rdcolor);
            }
            footer hr{
              width: 80%;
              margin: auto;
              border: 1px solid rgba(255, 255, 255, 0.1);
            
            }
            .copyright{
          font-size: 15px;
            }
       
       
      /* *footer section ends  */


          /* _____________ ________________ */
           }





           @media (max-width:450px){

            
        .banner__badge{
          width: 120px;
          height: auto;
        padding: 12px 8px ;

        right: -7%;
          top: 10%;
      }

    .banner__badge h4,.banner__badge_extra h4{
      font-size: 18px;
    }

    
    .banner__badge p,.banner__badge_extra p{
      font-size: 11px;
    }




      .banner__badge_extra{
        width: 120px;
        height: auto;
      padding: 12px 8px ;

         bottom: 45%;
        left: -3%;
      
      }
  
           }



           @media (min-width:451px) and (max-width:576px){
            .banner__badge{
              width: 150px;
              height: auto;
            padding: 15px 10px ;
    
              right: -5%;
              top: 10%;
          }
    
           }


       /* ! RESPONSIVE SECTION (mobail)  ENDS  */

